@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}


/* Common Classes for styling */
.FlexC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FlexS{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.FlexE{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.FlexSpace{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.Grid{

    display: grid;
    
}

.header{
    background-color: #000000;
    width: 100%;
    height: 10vh;
}
.searchText{
    color: rgb(255, 255, 255);
}
.searchText h1{
    font-size: 3.2rem;
    letter-spacing: 0.5rem;
    line-height: 0.5;

}

.headTitle h2{
    font-size: 2rem;
    color: red;


}

.imagesHead{
    height: 1.5rem;
}

.socialMediaApp{
    /* background-color: red; */
    width: 12%;
    display: flex;
    justify-content: space-evenly;
    filter: invert(1);
}

.search{
    height: 1.5rem;
    width: 22.5rem;
}

@media screen and (max-width:900px)

{
    .header{
        flex-direction: column;
    }
.socialMediaApp{
    display:  none;
}
    .search{
        width: 100%;
    }
    
    .inputClass{
        justify-content: center;
    }
}

@media screen and (max-width:770px)

{
.h2SearchText{
/* color: red;  */
line-height: 1 !important;

}
.inputBTN{
    width: 25% !important;
}
}


.searchContainer{
    height : 50vh;
     
    background-color: red;
    /* margin-top: -1.4rem; */
    display: flex;
    /* align-items: center; */
    /* background-image: url("./images/car.jpg"); */

    padding: 0rem 3rem;
    flex-direction: column;
    background: linear-gradient(  #1a1a1a, rgba(0, 0, 0, 0.7) ), url(./images/fast.jpg);
    /* background-repeat: no-repeat;   */
    background-position: center;
}




.searchText h2{
    line-height: 0.0;

}

.inputClass{
    width: 80%;
    height: 2.7rem;
    border-radius: 30px;
    border: none;
}

.inputClass:focus{
     box-shadow: rgba(10, 3, 235, 0.35) 0px 5px 15px;
     border:1px solid blue;
}

.formHello{
    display: flex;
    padding-top: 2.5rem;
}

.inputBTN{
    width: 10%;
    border-radius: 14px;
    border: 1px solid black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-left: 0.5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(225, 225, 7);
}

.inputBTN:focus{
    box-shadow: rgba(10, 3, 235, 0.35) 0px 5px 15px;
    border:1px solid blue;
}

#demo{
    height: 12rem;
    width: 12rem;
    display: flex;
    padding: 5rem;

}
.cardsDiv{
    height: 13rem;
    width: 9rem;
    overflow: hidden;
    border-radius: 10px;
    background-color: red;
    background-position: center;
    
}
.cardsImage{

    height: 100%;
    width: 100%;
    object-fit: cover;
   


}


.scrollTrend{
    width: 98%;
    overflow-x: scroll;
    background: linear-gradient(  #d7d7d7, rgba(0, 0, 0, 0.7) ), url(./images/pexels-aistė-sveikataitė-1535421.jpg);
    background-position: center;

}


.trendingCards{
    display: flex;
    justify-content: space-evenly;
    width: 210rem;
}

.trailerCard{
    height: 15rem;
    background-color: blue;
}

.TrailerCls{
    background-color: red;
    height: 14rem;
    display: flex;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/img2.jpg);
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17rem;
       /* background: linear-gradient(  #d7d7d7, rgba(0, 0, 0, 0.7) ), url(./images/pexels-aistė-sveikataitė-1535421.jpg); */
    
}

/* @keyframes square-in-center {
    from {
      clip-path: inset(100% 100% 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
  } */

  .imageContainer{
    height: 12rem;
    width: 22rem;
    transform: scale(0.9);
    transition: all .2s ease-in-out;
  }

  .imageContainer:hover{
 
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(1);


  }

  .childCont{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    transition: all .2s ease-in-out;
  }



  .playButton{
    height: 25%;
    width: 15%;
    filter: invert(1);
    /* transform: scale(0.5); */

  }

  .childCont:hover{
    transition: all .2s ease-in-out;
    transform: scale(1);
  }

