
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common Classes for styling */
.FlexC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FlexS{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.FlexE{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.FlexSpace{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.Grid{

    display: grid;
    
}





.imagesHead{
    height: 1.5rem;
}

.socialMediaApp{
    /* background-color: red; */
    width: 12%;
    display: flex;
    justify-content: space-evenly;
}

