@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}


/* Common Classes for styling */
.FlexC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FlexS{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.FlexE{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.FlexSpace{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.Grid{

    display: grid;
    
}

.header{
    background-color: blue;
    width: 100%;
}


.headTitle h2{
    font-size: 2rem;


}

.imagesHead{
    height: 1.5rem;
}

.socialMediaApp{
    /* background-color: red; */
    width: 12%;
    display: flex;
    justify-content: space-evenly;
}

.search{
    height: 1.5rem;
    width: 22.5rem;
}

@media screen and (max-width:900px)

{
    .header{
        flex-direction: column;
    }
.socialMediaApp{
    display:  none;
}
    .search{
        width: 100%;
    }
    
    .inputClass{
        justify-content: center;
    }
}